body {
    background-color: #383838;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/img.jpg');
}

.inner {
    padding: 80px 20px;
    text-align: center;
}

div#container {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px 0;
}

div#container section {
    display: flex;
    justify-content: space-between;
    width: 85%;
    max-width: 960px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    overflow: hidden;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 5px 0;
}

div#container section article {
    width: 45%;
    background-color: rgb(133, 130, 128);
}

div#container section article h1 {
    font-size: 40px;
    font-weight: 700;
    color: #383838;
}

div#container section article p {
    font-size: 20px;
    color: #383838;
    margin-top: 5px;
}

div#container section article a.btn {
    display: inline-block;
    padding: 8px 30px;
    border: #383838 solid 2px;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 700;
    color: #383838;
    box-shadow: 0 2px 5px 0;
    transition: 0.6s all ease;
}

div#container section article a.btn:hover {
    background-color: rgb(133, 130, 128);
    color: aqua;
}

div#container section aside {
    width: 55%;
}

div#container section aside h2 {
    font-size: 35px;
    color: #383838;
    font-weight: 700;
}

div#container section aside p {
    font-size: 20px;
    color: #383838;
}

nav#socialLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

nav#socialLogin a {
    width: 50px;
    height: 50px;
    background: rgb(237, 242, 240);
    margin: 0 10px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    box-shadow: 0 2px 5px 0;
    transition: 0.6s all ease;
}

nav#socialLogin a :hover {
    background-color: rgb(133, 130, 128);
    color: aqua;
}

nav#socialLogin a.google {
    background-image: url("/assets/icons8-google-logo.svg");
}

nav#socialLogin a.github {
    background-image: url("/assets/icons8-github.svg");
}

nav#socialLogin a.linkedin {
    background-image: url("/assets/icons8-linkedin.svg");
}

form {

    width: 90%;
    max-width: 350px;
    margin: 30px auto 0 auto;

}

form input[type=text],
form input[type=email],
form input[type=password] {
    width: calc(100% - 45px);
    border: none;
    padding: 10px 15px 8px 30px;
    margin: 5px 0;
    font-size: 18px;
    border-radius: 20px;
    box-shadow: 0 2px 5px 0;
}

form button[type=submit] {
    margin-top: 20px;
    border: none;
    color: #383838;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 0 2px 5px 0;
    transition: 0.6s all ease;
}

form button[type=submit]:hover {
    background-color: rgb(133, 130, 128);
    color: aqua;
}